@model IEnumerable<_403_Project1_StarWars.Models.ActorRating>

@{
    ViewBag.Title = "Coruscant";
}

<h2 class="starwars">Actor Ratings</h2>

<body class="coruscant"></body>
<p>
    @Html.ActionLink("Add a Rating", "AddRating")
</p>
<table class="table">
    <tr class="starwars">
        <th>
            @Html.DisplayNameFor(model => model.ActorCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieTitle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="starwars">
        <td>
            @Html.DisplayFor(modelItem => item.ActorCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MovieTitle)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditRating", new { initials=item.ActorCode }) 
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to Mustafar", "Index", "Home")
</div>