@model IEnumerable<_403_Project1_StarWars.Models.MovieReview>

@{
    ViewBag.Title = "Hoth";
}

<h2>Movie Reviews</h2>

<body class="hoth"></body>

<p>
    @Html.ActionLink("Add a Movie Review", "AddReview")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReviewID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Review)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MovieTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Review)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditReview", new { iReview=item.ReviewID }) 
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Back to Mustafar", "Index", "Home")
</div>